<!-- include header -->
<%- include('include/_header')%>
	<!-- /include header -->
	<!-- main-section -->
	<section class="content-section" id="content">
		<div class="container content-section__container">
			<!-- include add_user -->
			<%- include('include/_form')%>
				<!-- /include add_user-->
		</div>
	</section>
	<!-- /main-section -->

	<!-- include footer -->
	<%- include('include/_footer')%>
		<!-- /include footer -->